<p id="notice"><%= notice %></p>

<h1>Posts</h1>

<div class="card-columns">
  
  


 
    <% @posts.each do |post| %>

      <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title"><%= post.description %></h5>
        <h6 class="card-subtitle mb-2 text-muted"><%= post.location_lost %></h6>
        <p class="card-text">Lost on <%= post.date_lost %></p>
        <a href="posts/<%=post.id%>" class="card-link">More Details</a>
        
      </div>
    </div>
      
    
        <td><%#= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      
    <% end %>
    </div>


<br>

<%= link_to 'New Post', new_post_path %>
